body {
	background-image: url("http://buildournewbridgenow.com/wp-content/uploads/2015/02/Kenton-Co.-landscape.jpg");
	background-size: 1920px 1080px;
	background-repeat: no-repeat;
}


#restaurantname {
	font-size: 40px;
	font-style: italic;
	color: gold;
	border: 2px solid gold;
	border-radius: 12px;
	width: 600px;
}

footer {
	font: verdana;
	font-size: 10.5px;
	color: darkblue;
}

a {
	text-decoration: none;
}

a:visited {
	color: red;
}

a:link {
	color: #00c;
}

a:hover {
	font-weight: bold;
	text-decoration: underline;
}