h1 {
	color: #8B0000;
	font-family: Copperplate / Copperplate Gothic Light, sans-serif;
	font-size: 300%;
}
h2 {
	font-size: 250%;
}
#members {
	color: #DC143C;
	font-family: Copperplate / Copperplate Gothic Light, sans-serif;
	font-size: 160%;
}
#date {
	color: navy;
	font-style: italic;
	font-size: 200%;
}
.colorful {
	color: orange;
}
th, td {
	font-style: italic;
}
tbody tr:nth-child(odd) {
	background-color: LemonChiffon;
}
tbody tr:nth-child(even) {
	background-color: Goldenrod;
}