body {
	background-color: darkgreen;
}
h1 {
	color: blue;
	font-family: verdana;
	font-style: underlined;
	font-size: 300%;
}
h2 {
	font-size: 250%;
}
#text {
	color: maroon;
	font-weight: bold;
	font-size: 160%;
}
#date {
	color: navy;
	font-style: italic;
	font-size: 200%;
}
.colorful {
	color: orange;
}